@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-mx {
    @apply container mx-auto p-6;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .hovering {
    @apply transition-all duration-300;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }
  .spinner {
    @apply flex-center h-full w-full;
  }

  .page-layout {
    @apply flex-center h-[100vh] w-[100vw] bg-bodyBg text-textColor;
  }
  .hover-btn {
    @apply translate-y-[-3px] shadow-md;
  }

  main {
    @apply flex justify-between min-h-[70vh] bg-gray-100;
  }
  nav {
    @apply flex-center justify-between px-[2rem] py-[1rem] shadow-sm sticky top-0 bg-white z-50;
  }

  // .login-section-layout {
  //   @apply p-[3.5rem] lg:p-[5rem];
  // }

  // login //
  .login-btn {
    @apply w-[50%] py-[.7rem] lg:py-[1rem] hovering hover:hover-btn;
  }
  .login {
    @apply flex-center h-[100vh] w-[100vw] bg-bodyBg;

    &-card {
      @apply flex w-[80vw]  xl:w-[50vw] bg-white rounded-xl min-h-[60rem] overflow-hidden shadow-lg text-[1.8rem];
    }
    &-text {
      @apply flex-1 p-[5rem] flex flex-col justify-around text-white;

      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url('https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600')
          center;

      background-size: cover;

      h1 {
        @apply text-[3.5rem] lg:text-[5rem];
      }
      button {
        @apply bg-white text-purpleBtn login-btn;
      }
    }
    &-signup {
      @apply flex flex-col gap-[2rem];
    }
    &-form {
      @apply flex-1 p-[5rem] flex flex-col gap-[3rem] justify-center;
      h2 {
        @apply text-[2.5rem] lg:text-[3.5rem] font-bold;
      }
      form {
        @apply flex flex-col gap-[3rem];
        input {
          @apply border-b-[1px] border-gray-300 px-[1rem] py-[2rem];
        }
        button {
          @apply login-btn text-white bg-purpleBtn;
        }
      }
    }
  }
  #register {
    .login-text {
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url('https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600')
          center;
      background-size: cover;
    }
  }

  .logo-container {
    @apply flex-center gap-[2rem];

    .logo {
      @apply text-[2.5rem]  font-bold;
    }
  }
  .nav-icons {
    @apply flex-center text-[2rem] gap-[2rem];

    & > * {
      cursor: pointer;
    }
  }
  .user-container {
    @apply flex-center gap-[2rem];
  }
  .user {
    @apply flex-center gap-[1rem] cursor-pointer;

    &-image {
      @apply w-[4rem] h-[4rem] rounded-full relative;
    }
    img {
      @apply w-full h-full object-fill  rounded-full;
    }
    &-text {
      @apply flex flex-col;
    }
    .name {
      @apply flex-1 font-bold text-[1.4rem];
    }
    .stats {
      @apply text-[#777];
    }
    &-online {
      @apply absolute top-0 right-0 w-[1rem] h-[1rem] bg-lime-500 rounded-full;
    }
  }
  .search {
    @apply flex-center rounded-lg p-[1rem] gap-[1rem] border-[1px] border-gray-300  h-[3.3rem];
    input {
      @apply sm:w-[30vw];
    }
  }

  .sidebar {
    // main sidebar
    &-main {
      @apply w-[12vw] p-[2rem] flex flex-col gap-[2rem] sticky overflow-scroll bg-white;

      .user {
        @apply justify-start;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-links {
      @apply flex flex-col gap-[1.5rem] w-full;

      h2 {
        @apply text-[1.8rem] font-bold mb-[1rem];
      }
    }
    &-link {
      @apply flex  items-center gap-[1.5rem] cursor-pointer;

      img {
        @apply w-[2rem] lg:w-[3rem];
      }
      h3 {
        @apply text-[1.7rem];
        // letter-spacing: 0.1rem;
      }
    }

    &-alt {
      @apply w-[25vw] p-[2rem] flex flex-col gap-[2rem];
      &-item {
        @apply px-[1.5rem] py-[2.2rem] rounded-[.5rem] flex flex-col gap-[2rem] bg-white;

        box-shadow: 0 0 1.5rem 1px rgba(0, 0, 0, 0.09);

        & > h3 {
          @apply text-[1.8rem] text-gray-500;
        }
        .userInfo {
          @apply flex-center justify-between;

          .buttons {
            @apply flex items-center gap-[1rem];

            button {
              @apply px-[1rem] text-white first:bg-blue-600 last:bg-red-500;
            }
          }
        }
      }
    }
  }

  .stories {
    @apply flex gap-[1.5rem] p-[2rem] w-full  overflow-x-scroll overflow-y-hidden z-10;

    .story {
      @apply min-w-[7rem] md:min-w-[10rem] lg:min-w-[12rem] relative h-[10rem] md:h-[13rem] lg:h-[18rem] shadow-lg;

      img {
        @apply image-cover  rounded-lg;
      }
      span {
        @apply absolute bottom-[1rem] left-[1rem] text-white;
      }
      button {
        @apply absolute bottom-[20%] left-[10%] text-white bg-[#5271ff] w-[3rem] h-[3rem] rounded-full flex-center text-[2.7rem] shadow-md;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .posts {
    @apply p-[2rem] flex flex-col w-full gap-[3rem];
  }
  .post {
    @apply p-[2rem] bg-white rounded-xl flex flex-col w-full gap-[1.5rem];

    box-shadow: 0 0 1.5rem 1px rgba(0, 0, 0, 0.09);

    &-head {
      @apply flex-center justify-between w-full;
      .options {
        @apply cursor-pointer text-[2rem];
      }
    }
    &-body {
      p {
        @apply mb-[1rem];
      }
      img {
        @apply w-full h-[25rem] md:h-[35rem] lg:h-[50rem] object-cover;
      }
    }
    &-footer {
      @apply flex gap-[2rem];

      .item {
        @apply flex-center gap-[1rem] cursor-pointer;

        svg {
          @apply text-[2rem] cursor-pointer;
        }
      }
    }
    &-comments {
      @apply pt-[1rem] w-full;

      .write {
        @apply flex justify-between cursor-default mb-[1.5rem];
        input {
          @apply w-[80%] border-[1px] px-[1rem] py-[.5rem];
        }
        button {
          @apply text-white bg-[#5271ff] px-[1rem] py-[.5rem];
        }
      }
      .comment {
        @apply;
      }
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 1540px) {
    font-size: 55%;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button,
button:focus {
  border: none;
  outline: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover {
  color: inherit !important ;
  text-decoration: none;
}
input {
  outline: none !important;
}
